/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/public/build
/public/uploads
/public/upload
/storage/app/public/uploads
/storage/app/public/pegawai
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
